<ion-content mode="ios" color="light">
  <ion-list>
    <ion-list-header mode="md" color="light">
      <ion-label>
        <h1><b>เลือกวันเปิดร้าน</b></h1>
      </ion-label>
    </ion-list-header>
    <ion-item lines="full" color="light">
      <ion-checkbox [(ngModel)]="isSunday" color="primary">
      </ion-checkbox>
      <ion-label color="secondary">
        <h3><b>วันอาทิตย์</b></h3>
      </ion-label>
    </ion-item>
    <div *ngIf="isSunday">
      <ion-item color="light">
        <ion-label color="secondary">
          <h3><b>เวลาเปิด</b></h3>
        </ion-label>
        <ion-datetime [(ngModel)]="sunday[0].orderFromTime" displayFormat="HH:mm"></ion-datetime>
      </ion-item>
      <ion-item color="light">
        <ion-label color="secondary">
          <h3><b>เวลาปิด</b></h3>
        </ion-label>
        <ion-datetime [(ngModel)]="sunday[0].orderThruTime" displayFormat="HH:mm"></ion-datetime>
      </ion-item>
    </div>
    <ion-item lines="full" color="light">
      <ion-checkbox [(ngModel)]="isMonday" color="primary">
      </ion-checkbox>
      <ion-label color="secondary">
        <h3><b>วันจันทร์</b></h3>
      </ion-label>
    </ion-item>
    <div *ngIf="isMonday">
      <ion-item color="light">
        <ion-label color="secondary">
          <h3><b>เวลาเปิด</b></h3>
        </ion-label>
        <ion-datetime [(ngModel)]="monday[0].orderFromTime" displayFormat="HH:mm"></ion-datetime>
      </ion-item>
      <ion-item color="light">
        <ion-label color="secondary">
          <h3><b>เวลาปิด</b></h3>
        </ion-label>
        <ion-datetime [(ngModel)]="monday[0].orderThruTime" displayFormat="HH:mm"></ion-datetime>
      </ion-item>
    </div>
    <ion-item lines="full" color="light">
      <ion-checkbox [(ngModel)]="isTuesday" color="primary">
      </ion-checkbox>
      <ion-label color="secondary">
        <h3><b>วันอังคาร</b></h3>
      </ion-label>
    </ion-item>
    <div *ngIf="isTuesday">
      <ion-item color="light">
        <ion-label color="secondary">
          <h3><b>เวลาเปิด</b></h3>
        </ion-label>
        <ion-datetime [(ngModel)]="tuesday[0].orderFromTime" displayFormat="HH:mm"></ion-datetime>
      </ion-item>
      <ion-item color="light">
        <ion-label color="secondary">
          <h3><b>เวลาปิด</b></h3>
        </ion-label>
        <ion-datetime [(ngModel)]="tuesday[0].orderThruTime" displayFormat="HH:mm"></ion-datetime>
      </ion-item>
    </div>
    <ion-item lines="full" color="light">
      <ion-checkbox [(ngModel)]="isWednesday" color="primary">
      </ion-checkbox>
      <ion-label color="secondary">
        <h3><b>วันพุธ</b></h3>
      </ion-label>
    </ion-item>
    <div *ngIf="isWednesday">
      <ion-item color="light">
        <ion-label color="secondary">
          <h3><b>เวลาเปิด</b></h3>
        </ion-label>
        <ion-datetime [(ngModel)]="wednesday[0].orderFromTime" displayFormat="HH:mm"></ion-datetime>
      </ion-item>
      <ion-item color="light">
        <ion-label color="secondary">
          <h3><b>เวลาปิด</b></h3>
        </ion-label>
        <ion-datetime [(ngModel)]="wednesday[0].orderThruTime" displayFormat="HH:mm"></ion-datetime>
      </ion-item>
    </div>
    <ion-item lines="full" color="light">
      <ion-checkbox [(ngModel)]="iThursday" color="primary">
      </ion-checkbox>
      <ion-label color="secondary">
        <h3><b>วันพฤหัสบดี</b></h3>
      </ion-label>
    </ion-item>
    <div *ngIf="iThursday">
      <ion-item color="light">
        <ion-label color="secondary">
          <h3><b>เวลาเปิด</b></h3>
        </ion-label>
        <ion-datetime [(ngModel)]="thursday[0].orderFromTime" displayFormat="HH:mm"></ion-datetime>
      </ion-item>
      <ion-item color="light">
        <ion-label color="secondary">
          <h3><b>เวลาปิด</b></h3>
        </ion-label>
        <ion-datetime [(ngModel)]="thursday[0].orderThruTime" displayFormat="HH:mm"></ion-datetime>
      </ion-item>
    </div>
    <ion-item lines="full" color="light">
      <ion-checkbox [(ngModel)]="isFriday" color="primary">
      </ion-checkbox>
      <ion-label color="secondary">
        <h3><b>วันศุกร์</b></h3>
      </ion-label>
    </ion-item>
    <div *ngIf="isFriday">
      <ion-item color="light">
        <ion-label color="secondary">
          <h3><b>เวลาเปิด</b></h3>
        </ion-label>
        <ion-datetime [(ngModel)]="friday[0].orderFromTime" displayFormat="HH:mm"></ion-datetime>
      </ion-item>
      <ion-item color="light">
        <ion-label color="secondary">
          <h3><b>เวลาปิด</b></h3>
        </ion-label>
        <ion-datetime [(ngModel)]="friday[0].orderThruTime" displayFormat="HH:mm"></ion-datetime>
      </ion-item>
    </div>
    <ion-item lines="full" color="light">
      <ion-checkbox [(ngModel)]="isSaturday" color="primary">
      </ion-checkbox>
      <ion-label color="secondary">
        <h3><b>วันเสาร์</b></h3>
      </ion-label>
    </ion-item>
    <div *ngIf="isSaturday">
      <ion-item color="light">
        <ion-label color="secondary">
          <h3><b>เวลาเปิด</b></h3>
        </ion-label>
        <ion-datetime [(ngModel)]="saturday[0].orderFromTime" displayFormat="HH:mm"></ion-datetime>
      </ion-item>
      <ion-item color="light">
        <ion-label color="secondary">
          <h3><b>เวลาปิด</b></h3>
        </ion-label>
        <ion-datetime [(ngModel)]="saturday[0].orderThruTime" displayFormat="HH:mm"></ion-datetime>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
<ion-footer mode="ios">
  <ion-button (click)="setSchedule()" class="ion-no-margin" expand="full" color="warning" [disabled]="fg.invalid">
    <ion-label color="light"> <b>ตกลง</b></ion-label>
  </ion-button>
</ion-footer>