<ion-content color="light" class="ion-text-center no-scroll">
  <ion-item lines="none" color="light">
    <ion-label class="ion-text-center ion-margin-top">
      <h2 class="ion-text-wrap"><b>อนุมัติการยกเลิกคำสั่งซื้อ</b></h2>
    </ion-label>
  </ion-item>
  <div class="avatar center ion-padding-top">
    <img src="assets/image/cancelorder.png">
  </div>
  <ion-row>
    <ion-col size="6"></ion-col>
    <ion-col size="6">
      <ion-text class="ion-text-left" color="success">
        <h3><b>ปิด</b></h3>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-content>
