<ion-header>
  <ion-toolbar>
    <ion-title>contract-main</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium" mode="ios" class="ion-padding">
  <ion-list lines="none">
    <ion-item>
      <ion-avatar slot="start">
        <!-- <img src="../../assets/image/delivery.PNG"> -->
        <img src="https://cdn0.iconfinder.com/data/icons/transportation-163/14/Vector-12-512.png">
      </ion-avatar>
      <ion-label>
        <h1><b>Fast Delivery</b></h1>
        <ion-label color="success">
          <h3>
            <ion-icon style="vertical-align: text-bottom;" name="checkmark-circle"></ion-icon>
            คุณได้เข้าร่วมแล้ว
          </h3>
        </ion-label>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://cdn0.iconfinder.com/data/icons/transportation-163/14/Vector-12-512.png">
      </ion-avatar>
      <ion-label>
        <h1><b>Pada Delivery</b></h1>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://cdn0.iconfinder.com/data/icons/transportation-163/14/Vector-12-512.png">
      </ion-avatar>
      <ion-label>
        <h1><b>Grap Delivery</b></h1>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>