<ion-content mode="ios" class="ion-padding">
  <ng-container *ngIf="data$ | async as data">
    <ion-list lines="none">
      <ion-item *ngFor=" let delivery of data" color="light" class="ion-padding-bottom"
        (click)="getDetailContract(delivery._id,delivery.name)">
        <ion-avatar slot="start">
          <img
            [src]="delivery.logoImage != null ? delivery.logoImage:'https://cdn0.iconfinder.com/data/icons/transportation-163/14/Vector-12-512.png'">
        </ion-avatar>
        <ion-label>
          <h1><b>{{delivery.name}}Fast delivery</b></h1>
          <ion-label *ngIf="delivery.acceptContractDate" color="success">
            <h3>
              <ion-icon name="checkmark-circle"></ion-icon>
              คุณได้เข้าร่วมแล้ว
            </h3>
          </ion-label>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>


</ion-content>