<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>บริษัทดิลิเวอรี่</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  mode="ios" class="ion-padding">
  <ion-list lines="none">
    <ion-item color="light" style="box-shadow: inset 0px -6px #ecebf1;">
      <ion-avatar slot="start">
        <img src="https://cdn0.iconfinder.com/data/icons/transportation-163/14/Vector-12-512.png">
      </ion-avatar>
      <ion-label>
        <h1><b>Fast delivery</b></h1>
        <ion-label color="success">
          <h3>
            <ion-icon name="checkmark-circle"></ion-icon>
            <!-- <ion-icon style="vertical-align: text-bottom;" name="checkmark-circle"></ion-icon> -->
            คุณได้เข้าร่วมแล้ว
          </h3>
        </ion-label>
      </ion-label>
    </ion-item>

    <ion-item color="light">
      <ion-avatar slot="start">
        <img src="https://cdn0.iconfinder.com/data/icons/transportation-163/14/Vector-12-512.png">
      </ion-avatar>
      <ion-label>
        <h1><b>Food prada</b></h1>
      </ion-label>
    </ion-item>

    <ion-item color="light">
      <ion-avatar slot="start">
        <img src="https://cdn0.iconfinder.com/data/icons/transportation-163/14/Vector-12-512.png">
      </ion-avatar>
      <ion-label>
        <h1><b>Prab delivery</b></h1>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>