<ion-content mode="ios" color="light">
  <ion-item lines="none" color="light" class="ion-margin-top">
    <ion-button (click)="presentActionSheet()" color="warning" shape="round" size="default" class="center">
      <ion-label color="light">
        <h2>
          ปรับแต่งเมนูร้านของคุณ
        </h2>
      </ion-label>
    </ion-button>
  </ion-item>
  <ng-container *ngIf="data$ | async as item">
    <ion-list lines="full" class="ion-no-padding">
      <ion-item color="light">
        <ion-segment scrollable="true" (ionChange)="segmentChanged(category)" [(ngModel)]="category" lines="none"
          mode="md" color="warning">
          <div *ngFor="let data of item">
            <ion-segment-button *ngIf="data.products.length > 0" [value]="data.categoryId">
              <ion-label><b> {{data.categoryName}}</b></ion-label>
            </ion-segment-button>
          </div>
        </ion-segment>
      </ion-item>
    </ion-list>

    <div *ngFor="let data of item">
      <ion-list *ngIf="data.categoryId == segmentValue" color="light" class="ion-no-padding">
        <ion-list-header color=" light" mode="md">
          <ion-label class="ion-margin-top">
            <h1><b>{{data.categoryName}} ({{data.products?.length}})</b></h1>
          </ion-label>
        </ion-list-header>
        <ion-item color="light" *ngFor="let menu of data.products">
          <ion-thumbnail slot="start" class="ion-margin-vertical">
            <img [src]="menu.previewImageUrl != null ? menu.previewImageUrl :'assets/imgs/dfmenu.png'">
          </ion-thumbnail>
          <ion-text>
            <br>
            <ion-label color="dark">
              <h2><b>{{menu.name}}</b></h2>
              <h3><b>{{menu.price | number}} THB</b></h3>
            </ion-label>
            <br>
          </ion-text>
          <ion-note slot="end" class="ion-no-margin">
            <br>
            <ion-label color="dark">
              <h2>
                <ion-icon class="ion-padding-start padding-start" name="pencil-outline" (click)="openPopover($event,menu._id)"></ion-icon>
              </h2>
            </ion-label>
            <br>
            <ion-toggle class="ion-no-padding">
            </ion-toggle>
          </ion-note>
        </ion-item>
      </ion-list>
    </div>
  </ng-container>
</ion-content>