<ion-content color="light" class="ion-text-center no-scroll">
  <ion-item lines="none" color="light" class="ion-padding-top">
    <ion-label class="ion-text-center ">
      <h1 class="ion-text-wrap"><b>ยืนยันการลบหมวดหมู่</b></h1>
    </ion-label>
  </ion-item>
  <div class="avatar center ion-padding-top">
    <img src="assets/imgs/cancelorder.png">
  </div>
  <ion-row class="ion-padding-top">
    <ion-col size="6">
      <ion-text (click)="cancel()" class="ion-text-center">
        <h3><b>ยกเลิก</b></h3>
      </ion-text>
    </ion-col>
    <ion-col size="6">
      <ion-text (click)="deleteCategory()" class="ion-text-center" color="success">
        <h3><b>ตกลง</b></h3>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-content>