<ion-content mode="ios">
  <ion-card color="dark">
    <ion-item color="dark" lines="none">
      <ion-label>
        <h2>
          <b>
            รายได้วันที่ {{ date | date:'d/M/yyy' }}
          </b>
        </h2>
      </ion-label>
      <ion-note color="light" slot="end" class="ion-text-end">
        <b>
          {{ totalToday }} THB
        </b>
      </ion-note>
    </ion-item>

    <ion-item color="dark" lines="none" (click)="datePicker.open()">
      <ion-label color="light" class="ion-text-center">
        <img src="assets/imgs/cash.png" height="10" alt="">ดูรายได้วันอื่นๆ
        <ion-datetime #datePicker hidden display-format="DD-MMMM-YYYY" [(ngModel)]="date" min="2021" max={{maxDate}}
          (ionChange)="getOrderHistories()">
        </ion-datetime>
      </ion-label>
    </ion-item>
  </ion-card>


  <ng-container *ngIf="data$ | async as data">
    <ion-card color="light" *ngFor="let order of data.orders">
      <ion-list lines="inset">
        <ion-item lines="none" color="light">
          <ion-label [color]="order.cancelDate ? 'tertiary' : ''" class="ion-text-wrap">
            <h1><b>คำสั่งซื้อ {{order.orderCode}}</b><small> ({{order.delivery?.name}})</small></h1>
          </ion-label>
        </ion-item>
        <ion-item color="light" lines="full">
          <ion-label color="secondary">
            <p>{{ order.createDate | date:'M/d/y (H.mm)' }}</p>
          </ion-label>
          <ion-note slot="end" class="ion-text-end">
            <ion-text [color]="order.cancelDate ? 'tertiary' : 'dark'"><b>ราคารวม {{ order.totalPrice | number }}
                THB</b>
            </ion-text>
          </ion-note>
        </ion-item>
        <ion-item color="light" *ngFor="let product of order.productList">
          <ion-label [color]="order.cancelDate ? 'tertiary' : ''">
            <h2><b>x{{ product.quantity }} {{ product.name}} </b></h2>
            <ion-text color="danger">
              <p *ngIf="product.option" class="ion-text-wrap"> {{ product.option}} </p>
              <p *ngIf="!product.option">&nbsp;</p>
            </ion-text>
          </ion-label>
          <ion-note slot="end" class="ion-text-end">
            <ion-label [color]="order.cancelDate ? 'tertiary' : 'dark'">
              <h2><b>{{ product.quantity * product.price | number }} THB </b></h2>
              <ion-text [color]="order.cancelDate ? 'tertiary' : 'dark'">
                <p><b>&nbsp;</b></p>
              </ion-text>
            </ion-label>
          </ion-note>
        </ion-item>
        <ion-item lines="none" color="light">
          <ion-label color="success" (click)="bikerDetail(order._id)">
            <ion-icon name="call"></ion-icon> ผู้ส่ง
          </ion-label>
          <ion-note *ngIf="order.cancelDate" slot="end" class="ion-text-end">
            <ion-text color="danger">
              <b>คำสั่งซื้อโดนยกเลิก !</b>
            </ion-text>
          </ion-note>
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-card color="light" class="ion-text-center" *ngIf="data.orders?.length == 0">
      <br><br><br><br><br>
      <ion-text class="ion-text-center" color="dark">
        <h5><b>ไม่มีรายการ</b></h5>
      </ion-text>
      <br><br><br><br><br>
    </ion-card>
  </ng-container>
</ion-content>