<ion-content mode="ios">
  <ion-card color="dark">
    <ion-item color="dark" lines="none">
      <ion-label>
        <h2>
          <b>
            รายได้วันนี้ {{ date | date:'d/M/yyy' }}
          </b>
        </h2>
      </ion-label>
      <ion-note color="light" slot="end" class="ion-text-end">
        <b>
          {{ totalToday }} บาท
        </b>
      </ion-note>
    </ion-item>
    <ion-item color="dark" lines="none" class="ion-text-center">
      <ion-label>
        <h3> ดูรายได้วันอื่นๆ
        </h3>
      </ion-label>
    </ion-item>
  </ion-card>

  <ng-container *ngIf="data$ | async as data">
    <ion-card color="light" *ngFor="let order of data">
      <ion-list lines="inset">
        <ion-item lines="none" color="light">
          <ion-label [color]="order.cancelDate ? 'tertiary' : ''" class="ion-text-wrap">
            <h1><b>คำสั่งซื้อ {{order._id}}</b><small> ({{order.delivery?.name}})</small></h1>
          </ion-label>
        </ion-item>
        <ion-item color="light" lines="full">
          <ion-label color="secondary">
            <p>00.20 นาที</p>
          </ion-label>
          <ion-note slot="end" class="ion-text-end">
            <ion-text [color]="order.cancelDate ? 'tertiary' : 'dark'"><b>ราคารวม ฿{{ order.totalPrice }}</b></ion-text>
          </ion-note>
        </ion-item>
        <ion-item color="light" *ngFor="let product of order.productList">
          <ion-label [color]="order.cancelDate ? 'tertiary' : ''">
            <h2><b> {{ product.name}} </b></h2>
            <ion-text color="danger">
              <p *ngIf="product.option"> {{ product.option}} </p>
              <p *ngIf="!product.option">&nbsp;</p>
            </ion-text>
          </ion-label>
          <ion-note slot="end" class="ion-text-end">
            <ion-label [color]="order.cancelDate ? 'tertiary' : 'dark'">
              <h2><b>฿{{ product.price }} </b></h2>
              <ion-text [color]="order.cancelDate ? 'tertiary' : 'dark'">
                <p><b>&nbsp;</b></p>
              </ion-text>
            </ion-label>
          </ion-note>
        </ion-item>
        <ion-item lines="none" color="light">
          <ion-label color="success">
            <ion-icon name="call"></ion-icon> ผู้ส่ง
          </ion-label>
          <ion-note *ngIf="order.cancelDate" slot="end" class="ion-text-end">
            <ion-text color="danger">
              <b>คำสั่งซื้อโดนยกเลิก !</b>
            </ion-text>
          </ion-note>
        </ion-item>
      </ion-list>
    </ion-card>
  </ng-container>
</ion-content>