<ion-header>
  <ion-toolbar color="warning">
    <ion-title color="light">ออร์เดอร์ย้อนหลัง</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium" mode="ios">

  <ion-card color="dark">
    <ion-item color="dark" lines="none">
      <ion-label>
        <h2>
          <b>
            xxxxx (xasdasdasd)
          </b>
        </h2>
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        <b>
          asdsad
        </b>
      </ion-note>
    </ion-item>
    <ion-item color="dark" lines="none" class="ion-text-center">
      <ion-label>
        <h3> ดูรายได้วันอื่นๆ
        </h3>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-list lines="full">
      <ion-item lines="none">
        <ion-label>
          <h1><b>คำสั่งซื้อ 5632</b><small>(Delivery Company AA)</small></h1>

        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label color="tertiary">
          <p>
            00.20 นาที
          </p>
        </ion-label>

        <ion-note slot="end" class="ion-text-end">
          <ion-text color="dark"><b>ราคารวม 270</b></ion-text>
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>
            <b>
              เอสเปรสโซ
            </b>
            <span>asdasd</span>

          </h2>
          <ion-text color="danger">
            <p>
              หวานน้อย
            </p>
          </ion-text>

        </ion-label>
        <ion-note slot="end" class="ion-text-end">
          <ion-text color="dark">
            <p>135</p>
          </ion-text>
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>
            <b>
              เอสเปรสโซ
            </b>
            <span>asdasd</span>

          </h2>
          <ion-text color="danger">
            <p>
              -
            </p>
          </ion-text>
        </ion-label>
        <ion-note slot="end" class="ion-text-end">
          <ion-text color="dark">
            <p>135</p>
          </ion-text>
        </ion-note>
      </ion-item>
      <ion-item lines="none">
        <ion-label color="success">
          <ion-icon name="call"></ion-icon> ผู้ส่ง
        </ion-label>
        <ion-note slot="end" class="ion-text-end">
          <ion-text color="dark">
            <b>ยกเลิก</b>
          </ion-text>
        </ion-note>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>