:root {
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56,128,255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61,194,255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  --ion-color-tertiary: #D4D3DB;
  --ion-color-tertiary-rgb: 212,211,219;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #bbbac1;
  --ion-color-tertiary-tint: #d8d7df;

  --ion-color-success: #58B957;
  --ion-color-success-rgb: 88,185,87;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #4da34d;
  --ion-color-success-tint: #69c068;

  --ion-color-warning: #FC7315;
  --ion-color-warning-rgb: 252,115,21;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #de6512;
  --ion-color-warning-tint: #fc812c;

  --ion-color-danger: #ED1C24;
  --ion-color-danger-rgb: 237,28,36;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d11920;
  --ion-color-danger-tint: #ef333a;

  --ion-color-dark: #4D4F5A;
  --ion-color-dark-rgb: 77,79,90;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #44464f;
  --ion-color-dark-tint: #5f616b;

  --ion-color-medium: #ECEBF1;
  --ion-color-medium-rgb: 236,235,241;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #d0cfd4;
  --ion-color-medium-tint: #eeedf2;

  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 255,255,255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;
}