<ion-content mode="ios">
  <ng-container *ngIf="data$ | async as data">
    <ion-card color="light">
      <ion-list lines="inset">
        <ion-item lines="none" color="light">
          <ion-label class="ion-text-wrap">
            <h1><b>คำสั่งซื้อ {{data.orderCode}}</b><small> ({{data.delivery?.name}})</small></h1>
          </ion-label>
        </ion-item>
        <ion-item color="light" lines="full">
          <ion-label color="secondary">
            <p>{{ data.createDate | date:'H:mm' }}</p>
          </ion-label>
          <ion-note slot="end" class="ion-text-end">
            <ion-text color="dark"><b>ราคารวม {{ data.totalPrice | number }} THB</b></ion-text>
          </ion-note>
        </ion-item>
        <ion-item color="light" *ngFor="let product of data.productList">
          <ion-label>
            <h2><b>x{{ product.quantity }} {{ product.name}} </b></h2>
            <ion-text color="danger">
              <p *ngIf="product.option"> {{ product.option}} </p>
              <p *ngIf="!product.option">&nbsp;</p>
            </ion-text>
          </ion-label>
          <ion-note slot="end" class="ion-text-end">
            <ion-label color="dark">
              <h2><b>{{ product.quantity * product.price | number }} THB</b></h2>
              <ion-text color="dark">
                <!-- <p><b>ยกเลิก</b></p> เอาออกไปก่อนตอนนี้ (8 Jan 21) ยังไม่ต้องทำ -->
                <p><b>&nbsp;</b></p>
              </ion-text>
            </ion-label>
          </ion-note>
        </ion-item>
        <ion-item lines="none" color="light">
          <ion-label class="ion-text-center" (click)="cancelOrderConfirm()">
            <b>ยกเลิกทั้งหมด</b>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </ng-container>
</ion-content>