<ion-content mode="ios">
  <ng-container *ngIf="data$ | async as data">
    <ion-card color="light">
      <ion-list lines="inset">
        <ion-item lines="none" color="light">
          <ion-label class="ion-text-wrap">
            <h1><b>คำสั่งซื้อ {{data._id}}</b><small> ({{data.delivery?.name}})</small></h1>
          </ion-label>
        </ion-item>
        <ion-item color="light" lines="full">
          <ion-label color="secondary">
            <p>00.20 นาที</p>
          </ion-label>
          <ion-note slot="end" class="ion-text-end">
            <ion-text color="dark"><b>ราคารวม ฿270</b></ion-text>
          </ion-note>
        </ion-item>
        <ion-item color="light" *ngFor="let product of data.orderList">
          <ion-label>
            <h2><b>นมเย็น</b></h2>
            <ion-text color="danger">
              <p>หวานปกติ</p>
            </ion-text>
          </ion-label>
          <ion-note slot="end" class="ion-text-end">
            <ion-label color="dark">
              <h2><b>฿35</b></h2>
              <ion-text color="dark">
                <p><b>ยกเลิก</b></p>
              </ion-text>
            </ion-label>
          </ion-note>
        </ion-item>
        <ion-item lines="none" color="light">
          <ion-label class="ion-text-center" (click)="cancelOrderConfirm(orderId)">
            <b>ยกเลิกทั้งหมด</b>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </ng-container>
</ion-content>