<ion-header>
  <ion-toolbar color="warning">
    <ion-title color="light">เพิ่มหมวดหมู่</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list color="light">
    <ion-list-header color="light" mode="md">
      <ion-label  class="ion-margin-top">
        <h1><b>ตั้งชื่อหมวดหมู่</b></h1>
      </ion-label>
    </ion-list-header>
    <ion-item color="light" lines="inset">
      <ion-input placeholder="เครื่องดื่ม"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-button class="ion-no-margin" expand="full" color="warning"><ion-label color="light"> <b>ตกลง</b></ion-label></ion-button>
</ion-footer>

