<ion-content mode="ios">
  <ng-container *ngIf="data$ | async as data">
    <ion-card color="light" *ngFor="let order of data">
      <ion-list lines="inset">
        <ion-item lines="none" color="light">
          <ion-label class="ion-text-wrap">
            <h1><b>คำสั่งซื้อ {{order._id}}</b><small> ({{order.delivery?.name}})</small></h1>
          </ion-label>
        </ion-item>
        <ion-item color="light" lines="full">
          <ion-label color="secondary">
            <!-- todo -->
            <p>- นาที</p>
          </ion-label>
          <ion-note slot="end" class="ion-text-end">
            <ion-text color="dark"><b>ราคารวม ฿{{ order.totalPrice | number }} </b></ion-text>
          </ion-note>
        </ion-item>
        <ion-item color="light" *ngFor="let product of order.productList">
          <ion-label>
            <h2><b>x{{ product.quantity }} {{ product.name}} </b></h2>
            <ion-text color="danger">
              <p *ngIf="product.option"> {{ product.option}} </p>
              <p *ngIf="!product.option">&nbsp;</p>
            </ion-text>
          </ion-label>
          <ion-note slot="end" class="ion-text-end">
            <ion-label color="dark">
              <h2><b>฿{{ product.quantity * product.price | number }}</b></h2>
              <ion-text color="dark">
                <p><b>&nbsp;</b></p>
              </ion-text>
            </ion-label>
          </ion-note>
        </ion-item>

        <ion-item lines="none" color="light">
          <ion-label color="success">
            <ion-icon name="call"></ion-icon> ผู้ส่ง
          </ion-label>
          <ion-note *ngIf="!order.cancelRequestId" slot="end" class="ion-text-end">
            <ion-text color="dark" class="ion-margin-end">
              <b>เสร็จแล้ว</b>
            </ion-text>
            <ion-text color="dark" (click)="cancelOrder(order._id)">
              <b>ยกเลิก</b>
            </ion-text>
          </ion-note>
          <ion-note *ngIf="order.cancelRequestId" slot="end" class="ion-text-end">
            <ion-text color="danger">
              <b>รออนุมัติการยกเลิก !</b>
            </ion-text>
          </ion-note>
        </ion-item>
      </ion-list>
    </ion-card>
  </ng-container>
</ion-content>