<ion-header>
  <ion-toolbar color="warning">
    <ion-title color="light">แก้ไขหมวดหมู่</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-text-center">
  <ion-button shape="round" color="success" class="ion-margin-top">
    <ion-label color="light"> เพิ่มหมวดหมู่</ion-label>
  </ion-button>

  <ion-list class="ion-margin-top" color="light" lines="inset">
    <ion-list-header color="light" mode="md" class="ion-text-start">
      <ion-label>
        <h1><b>หมวดหมู่ที่มี</b></h1>
      </ion-label>
    </ion-list-header>

    <ion-item color="light" >
      <ion-label>
        <h1>เครื่องดื่มเย็น</h1>
      </ion-label>
      <ion-button expand="full" fill="clear" color="dark" slot="end"><b>เปลี่ยนชื่อ</b></ion-button>
      <ion-button expand="full" fill="clear" color="dark" slot="end"><b>ลบ</b></ion-button>
    </ion-item>
    <ion-item color="light" >
      <ion-label>
        <h1>เครื่องดื่มเย็น</h1>
      </ion-label>
      <ion-button expand="full" fill="clear" color="dark" slot="end"><b>เปลี่ยนชื่อ</b></ion-button>
      <ion-button expand="full" fill="clear" color="dark" slot="end"><b>ลบ</b></ion-button>
    </ion-item>
    <ion-item color="light" >
      <ion-label>
        <h1>เครื่องดื่มเย็น</h1>
      </ion-label>
      <ion-button expand="full" fill="clear" color="dark" slot="end"><b>เปลี่ยนชื่อ</b></ion-button>
      <ion-button expand="full" fill="clear" color="dark" slot="end"><b>ลบ</b></ion-button>
    </ion-item>
  </ion-list>
</ion-content>