<ion-content color="light">
  <ion-item lines="none" color="light" class="ion-margin-top">
    <ion-button color="success" shape="round" size="default" class="center">
      <ion-label color="light">
        <h2>
          เพิ่มหมวดหมู่
        </h2>
      </ion-label>
    </ion-button>
  </ion-item>

  <ng-container *ngIf="data$ |async as item ">
    <ion-list class="ion-no-padding" color="light" lines="inset">
      <ion-item *ngFor="let data of item" color="light">
        <ion-label>
          <h1>{{data.categoryName}}</h1>
        </ion-label>
        <ion-button expand="full" fill="clear" color="dark" slot="end"><b>เปลี่ยนชื่อ</b></ion-button>
        <ion-button expand="full" fill="clear" color="dark" slot="end"><b>ลบ</b></ion-button>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>