<ion-header>
  <ion-toolbar color="warning">
    <ion-title color="light">แก้ไขหมวดหมู่</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-item lines="none" color="light" class="ion-margin-top">
    <ion-button color="success" shape="round" size="default" class="center">
      <ion-label color="light">
        <h2>
          เพิ่มหมวดหมู่
        </h2>
      </ion-label>
    </ion-button>
  </ion-item>
  <!-- <ion-button shape="round" color="success" class="ion-margin-top">
    <ion-label color="light"> เพิ่มหมวดหมู่</ion-label>
  </ion-button> -->

  <ion-list color="light" lines="inset">
    <!-- <ion-list-header color="light" mode="md" class="ion-text-start">
      <ion-label>
        <h1><b>หมวดหมู่ที่มี</b></h1>
      </ion-label>
    </ion-list-header> -->

    <ion-item color="light">
      <ion-label>
        <h1>เครื่องดื่มเย็น</h1>
      </ion-label>
      <ion-button expand="full" fill="clear" color="dark" slot="end"><b>เปลี่ยนชื่อ</b></ion-button>
      <ion-button expand="full" fill="clear" color="dark" slot="end"><b>ลบ</b></ion-button>
    </ion-item>
    <ion-item color="light">
      <ion-label>
        <h1>เครื่องดื่มร้อน</h1>
      </ion-label>
      <ion-button expand="full" fill="clear" color="dark" slot="end"><b>เปลี่ยนชื่อ</b></ion-button>
      <ion-button expand="full" fill="clear" color="dark" slot="end"><b>ลบ</b></ion-button>
    </ion-item>
    <ion-item color="light">
      <ion-label>
        <h1>เครื่องดื่มปั่น</h1>
      </ion-label>
      <ion-button expand="full" fill="clear" color="dark" slot="end"><b>เปลี่ยนชื่อ</b></ion-button>
      <ion-button expand="full" fill="clear" color="dark" slot="end"><b>ลบ</b></ion-button>
    </ion-item>
  </ion-list>
</ion-content>